<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style-user.css">
    <title>Главная</title>
</head>

<body>
    <div class="header-box">
        <header>
            <a href="/profile"><img src="/img/logo.png" alt=""></a>
            <ul>
                <a href="/communication">
                    <li>Коммуникации</li>
                </a>
                <a>
                    <li>Новости</li>
                </a>
                <a href="/profile">
                    <li>О нас</li>
                </a>
                <a>
                    <li>Мероприятия</li>
                </a>
            </ul>
            <a href="/logout">Выйти</a>
        </header>
    </div>
    <div class="commun_in">
        <img src="img/commun_in.png" alt="">
        <div class="textbox_commun1">
            
        </div>
    </div>
    <div class="commun_box">
        <div class="boxcom">
            <p>Изменение графиков работы поставщиков в предновогодний период</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>18.12.2024</p>
                    <p>#логистика</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <div class="boxcom">
            <p>Замена упаковки для чикен кесадилья</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>17.12.2024</p>
                    <p>#НациональныйЗапуск</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <div class="boxcom">
            <p>Отчет по сертификации фритюров</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>16.12.2024</p>
                    <p>#СертификацияФритюров</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <div class="boxcom">
            <p>Обновлен и актуализирован CSL "Работа с отчетами в R-Keeper"</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>05.11.2024</p>
                    <p>#СтандартыОперационнойДеятельности</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <div class="boxcom">
            <p>OPS Цели 2025</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>16.12.2024</p>
                    <p>#СтандартыОперационнойДеятельности</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <div class="boxcom">
            <p>Замена химии для кофемашин Franke на CTM</p>
            <div class="boxcom2">
                <div class="boxcom3">
                    <p>16.12.2024</p>
                    <p>#логистика</p>
                </div>
                <img src="/img/Arrow.png" alt="">
            </div>
        </div>
        <p>Архив коммуникаций</p>
    </div>
    <div class="com">
        <div class="commun_block">
            <h1>Остались вопросы?</h1>
            <form method="post" action="/feedbacks">
                <input type="text" id="name" name="name" placeholder="Имя" required /><br /><br />
                <input type="text" id="email" name="email" placeholder="Email" required /><br /><br />
                <input type="text" id="question" name="question" placeholder="Ваш вопрос" required /><br /><br />
                <input type="submit" value="Оставить заявку" class="button" />
            </form>
        </div>
        <img src="/img/img2.png" alt="" class="img_comm">
    </div>
    <footer>
        <div class="block_fot">
            <ul>
                <li class="li_b">Контакты </li>
                <li>Название компании: ООО “ОренРест” </li>
                <li>Юр.адрес: 450078, Республика Башкортостан, г. Уфа, ул. Владивостокская д.2</li>
                <li>Телефон: 13-34-05</li>
                <li>Email: office@grufa.ru</li>
            </ul>
            <ul>
                <li class="li_b">Реквизиты </li>
                <li>ИНН: 0278202810</li>
                <li>КПП: 027801001</li>
                <li>ОГРН: 1130280050196</li>
                <li>Организационно-правовая форма: Общество с ограниченной ответственностью</li>
            </ul>
        </div>
    </footer>
</body>

</html>