<!doctype html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<style>
  body {
    background-image: url('../img/fri.png');
  }

  .auth {
    display: flex;
    justify-content: center;
  }

  input {
    background-color: #FFE9E9;
    width: 350px;
    height: 35px;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 10px;

  }


  ::placeholder {
    font-family: "Jost", serif;
    font-size: 16px;
    letter-spacing: 4%;
    color: #DE0F1A;
    opacity: 90%;
    font-weight: 900;
  }

  .auth_block {
    display: block;
    margin-top: 100px;
    text-align: left;
    padding-left: 140px;
    padding-top: 100px;
    width: 1090px;
    height: 658px;
    background-color: rgba(222, 15, 26, 0.7);
  }

  .button {
    width: 240px;
    height: 50px;
    background-color: #DE0F1A;
    color: white;
    font-size: 20px;
    border-color: none;
    font-weight: 700;
    margin-bottom: 0;
    box-shadow: 5px 12px 5.8px rgba(0, 0, 0, 0.4);

  }

  .auth_block h1 {
    color: #FFFFFF;
    font-family: "Jost", serif;
    font-size: 48px;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 20px;

  }

  .auth p a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: "Jost", serif;
    margin-left: 20px;
  }
</style>

<head>
  <title>Авторизация</title>
</head>

<body>
  <div class="auth">
    <div class="auth_block">
      <div class="auth_bb">
        <h1>Авторизация</h1>
        <form method="post" action="/login">
          <input type="text" id="login" name="login" placeholder="Логин в формате xxx123" required /><br /><br />
          <input type="text" id="name" name="name" placeholder="Имя" required /><br /><br />
          <input type="password" id="password" name="password" placeholder="Пароль" required /><br /><br />
          <input type="submit" value="Войти" class="button" />
        </form>
      </div>
    </div>
  </div>
</body>

</html>