<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style-user.css">
  <title>Главная</title>
</head>

<body>
  <div class="header-box">
    <header>
      <a href="/profile"><img src="/img/logo.png" alt=""></a>
      <ul>
        <a href="/communication"><li>Коммуникации</li></a>
        <a>
          <li>Новости</li>
        </a>
        <a href="#about">
          <li>О нас</li>
        </a>
        <a>
          <li>Стандарты</li>
        </a>
      </ul>
      <a href="/logout">Выйти</a>
      <% if (user) { %>
        <% if (user.role==='admin' ) { %>
          <a href="/register">/Админ-панель</a>
          <% } %>
            <% } else { %>
              <p>Пожалуйста, авторизуйтесь.</p>
              <% } %>
    </header>
  </div>
<div class="page_index">
  <div class="index-tbox">
    <h1>Стань частью нашей команды!</h1>
    <h3>Обновлённая культура!</h3>
    <h3>Жми на кнопку, чтобы разделить ценности с нами!</h3>
    <button class="index_b">Узнать больше</button>
  </div>
    <div class="index_foto">
      <img src="/img/index_p.png" alt="">
    </div>
</div>
  <div class="line"></div>
<div class = "bgimg-1">
  <div class = "caption"></div>
</div>
<div class="line"></div>
<div class="line1"></div>
<div class="page_3">
  <h2>О нас</h2>
  <div class="text_boxp3">
    <p>В 2022 году об уходе с российского рынка и продаже своего бизнеса заявили многие зарубежные бренды. В том числе и международная сеть ресторанов общественного питания KFC, имевшая в России как собственные заведения, так и развивавшаяся по франшизе. </p>
    <p>О том, что сделка о продаже бизнеса завершена, компания Yum! Brands объявила 17 апреля 2023 года. Новый владелец получил права на все собственные рестораны KFC в России, права на мастер-франшизу, операционную систему, а также условие по ребрендингу: бренд своих и франчайзинговых ресторанов покупателей обязали сменить с KFC на Rostic’s, но с сохранением всех рабочих мест российской команды......<a href="">Подробнее</a></p>
  </div>
</div>
<div class="line"></div>
<div class="line1"></div>
<div class = "bgimg-1">
  <div class = "caption"></div>
</div>
<div class="line"></div>
  <div class="page_4">
    <h2>Главное</h2>
    <div class="card_p4">
      <div class="card">
        <img src="img/card1.png" alt="">
        <p>Новинка! Платформа Признания</p>
      </div>
      <div class="card">
        <img src="img/card2.png" alt="">
        <p>Новые комбо в доставке</p>
      </div>
      <div class="card">
        <img src="img/card3.png" alt="">
        <p>Новинка! Платформа Признания</p>
      </div>
    </div>
  </div>
  <footer>
    <div class="block_fot">
      <ul>
        <li class="li_b">Контакты </li>
        <li>Название компании: ООО “ОренРест” </li>
        <li>460024, Оренбургская область, г Оренбург, ул Маршала Г.К. Жукова, д. 21, помещ. 18а </li>
        <li>Телефон: 13-34-05</li>
        <li>Email: office@grufa.ru</li>
      </ul>
      <ul>
        <li class="li_b">Реквизиты </li>
        <li>ИНН: 5610249862</li>
        <li>КПП: 561001001</li>
        <li>ОГРН: 1235600006564</li>
        <li>Организационно-правовая форма: Общество с ограниченной ответственностью</li>
      </ul>
    </div>
  </footer>
</body>

</html>