<!doctype html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="/style-admin.css">
<style>
</style>

<head>
  <title>Регистрация</title>
</head>

<body>
  <div class="header-box">
    <header>
      <img src="/img/logo.png" alt="">
      <ul>
        <a href="/table">
          <li>Таблицы</li></a>
        <a>
          <li>Новости</li>
        </a>
        <a>
          <li>Коммуникации</li>
        </a>
        <a>
          <li>Регистрация</li>
        </a>
      </ul>
      <a href="/logout">Выйти</a>
  </div>
  <div class="reg">
    <div class="reg_block">
      <h1>Регистрация</h1>
      <form method="post" action="/register">
        <input type="text" id="login" name="login" placeholder="Логин в формате xxx123" required /><br /><br />
        <input type="text" id="name" name="name" placeholder="Имя" required /><br /><br />
        <input type="password" id="password" name="password" placeholder="Пароль" required /><br /><br />
        <input type="submit" value="Зарегистрировать" class="button" />
      </form>
    </div>
    <img src="/img/img1.png" alt="" class="img_reg">
  </div>
</body>

</html>