body {
    background-color: white;
  }

  .reg {
    display: flex;
    justify-content: center;
  }

  input {
    background-color: white;
    width: 390px;
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  ::placeholder {
    font-family: "Jost", serif;
    font-size: 16px;
    letter-spacing: 4%;
    color: #DE101A;
    opacity: 90%;
    font-weight: 900;
  }

  .reg_block {
    display: block;
    margin-top: 100px;
    text-align: center;
    padding-top: 100px;
    width: 900px;
    height: 658px;
    background-color: rgba(222, 15, 26, 0.9);
  }

  .button {
    width: 255px;
    height: 45px;
    background-color: #DE0F1A;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: 700;
    margin-bottom: 0;
    box-shadow: 5px 12px 5.8px rgba(0, 0, 0, 0.4);

  }

  .reg_block h1 {
    color: #FFFFFF;
    font-family: "Jost", serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;

  }

  .reg p a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: "Jost", serif;
    margin-left: 20px;
  }

  .header-box {
  width: 100%;
  height: 92px;
  background-color: #DE101A;
}

header {
  display: flex;
  margin: 0 auto;
  max-width: 1557px;
  opacity: 100%;
  align-items: center;
  padding-top: 7px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  justify-content: space-between;
  font-family: "Jost", serif;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  font-weight: 300;
}

header a p,
header a {
  font-family: "Jost", serif;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  font-weight: 300;
  text-decoration: none;
}